<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

    <h1>Welcome to Spittr <label th:if="${#session.getAttribute('spitter')} != null "th:text="${#session.getAttribute('spitter').username}">hello</label></h1>
    <a class="nonedecoration" href="/spittles">Spittles</a> |
    <a class="nonedecoration" th:if="${#session.getAttribute('spitter')} == null " href="/spitter/login">Login</a>
    <a class="nonedecoration" th:if="${#session.getAttribute('spitter')} != null " href="/spitter/logout">Logout</a>|
    <a class="nonedecoration" href="/spitter/register">Register</a>
</body>
</html>