<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/validateError.js"></script>
</head>
<body>
    <a class="nonedecoration" href="/">Back to home</a>
    <h1>Login</h1>

    <form action="/spitter/login" th:object="${spitter}"  method="post">
        <table>
            <tr>
                <td>Username:</td>
                <td><input onclick="cleanError()" th:field="*{username}" name="username"  type="text" ></td>
                <td class="myerror" th:if="${valiError} != null" th:text="${valiError}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="password" type="password"></td>
            </tr>
            <tr>
                <td><button type="submit">login</button></td>
            </tr>
        </table>
    </form>
</body>
</html>