<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/validateError.js"></script>
</head>
<body>
    <a class="nonedecoration" href="/">Back to home</a>
    <h1>Register</h1>
    <form action="/spitter/register"  th:object="${spitter}" method="post">
        <table>
            <tr>
                <td>firstname:</td>
                <td><input onclick="cleanError()" type="text" th:field="*{firstname}" /></td>
                <td class="myerror"  th:if="${#fields.hasErrors('firstname')}"  th:errors="*{firstname}">firstname Error</td>
            </tr>
            <tr>
                <td>lastname:</td>
                <td><input onclick="cleanError()" type="text" th:field="*{lastname}" /></td>
                <td class="myerror" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">lastname Error</td>
            </tr>
            <tr>
                <td>username:</td>
                <td><input  onclick="cleanError()" type="text" th:field="*{username}" /></td>
                <td class="myerror" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input onclick="cleanError()" type="password" th:field="*{password}" /></td>
                <td class="myerror" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</td>
            </tr>
            <tr>
                <td><button type="submit" >Register</button></td>
            </tr>
        </table>
    </form>
</body>
</html>